<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Lucky Carrot</title>
    <link rel="stylesheet" href="/css/main.css" type="text/css">
    {{{head}}}
    <link href="https://fonts.googleapis.com/css2?family=Bitter&family=Dancing+Script:wght@500&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/db3de7111a.js" crossorigin="anonymous"></script>
</head>
<body>

    <div id="banner">
        <div id="title">
            <div id="titleLink">
                <a href="/" target="_self">
                <p class="logo"><span id="theLucky">The Lucky </span><span id="carrot">Carrot</span></p></a>
            </div>

            <div id="logoPic">
                <img src="/images/logo.png" id="luckyPic">
            </div>
        </div>

        <div id="sub-title">
            <p id="sub-logo">A blog by Lucky the pomeranian</p>
        </div>
    </div>

    <div id="webBody">
        {{{body}}}
    </div>
</body>
</html>