
<head>
    <link rel="stylesheet" href="/css/404.css" type="text/css" />
</head>

<body>
    <div id="navbar">
        <ul class="nav">
            <li class="navLI"><a href="/" target="_self">Home</a></li>
            <li class="navLI"><a href="/about" target="_self">About Me</a></li>
            <li class="navLI"><a href="/blog" target="_self">Blog</a></li>
            <li class="navLI"><a href="/updates" target="_self">Updates</a></li>
        </ul>
    </div>

    <div id="body404">

        <h1>Error 404: Looks like the page you're trying to access doesn't exist. Go back.... NOW!!!!1! </h1>

        <img src="/images/404.PNG" id="img404">
    </div>

</body>
