
<head>
    <link rel="stylesheet" href="/css/500.css">
</head>

<body>
    <div id="navbar">
        <ul>
            <li><a href="http://www.theluckycarrot.com/" target="_self">Home</a></li>
            <li><a href="http://www.theluckycarrot.com/about" target="_self">About Me</a></li>
            <li><a href="http://www.theluckycarrot.com/blog" target="_self">Blog</a></li>
            <li><a href="http://www.theluckycarrot.com/updates" target="_self">Updates</a></li>
        </ul>
    </div>

    <div id="body404">

        <h1>Error 500: Looks like something broke. Go back.... NOW!!!!1! </h1>

        <img src="/images/404.png" id="img404">
    </div>

</body>
