<head>
    <link rel="stylesheet" href="/css/about.css" />
</head>

<body>
    <div id="navbar">
        <ul>
            <li><a href="http://www.localhost:4825/" target="_self">Home</a></li>
            <li><a href="http://www.localhost:4825/about" target="_self" class="active">About Me</a></li>
            <li><a href="localhost:4825/kjs" target="_self">Blog</a></li>
            <li><a href="localhost:4825/kjs" target="_self">Contact</a></li>
        </ul>
    </div>

    <div id="about-body">
        <h1 id="about-header"></h1>
    </div>
</body>

