<head>
    <link rel="stylesheet" href="/css/about.css" />
</head>

<body>
    <div id="navbar">
        <ul>
            <li><a href="http://www.theluckycarrot.com/" target="_self">Home</a></li>
            <li><a href="http://www.theluckycarrot.com/about" target="_self" class="active">About Me</a></li>
            <li><a href="http://www.theluckycarrot.com/blog" target="_self">Blog</a></li>
            <li><a href="http://www.theluckycarrot.com/updates" target="_self">Updates</a></li>
        </ul>
    </div>

    <div id="about-body">
        <div class='bone-header'></div>
        <div id="about-header">
            <h1 id="aboutTitle">About Lucky</h1>
        </div>
        <div class="bone-header"></div>

        <div id="body1">
            <br>
            <p>Welcome! My name is Lucky! I am a three year old pomeranian from New Jersey. I live with the most amaaaaazing family ever. I have three brothers and two sisters (all humans). I have many favorite activities. I love going out on drives and looking out the window. I love going out for walks (not even the cold can stop me!1) I just put on my hat and scarf and I'm ready to go! My most favorite is a lazy day where I just lay back and get scratches from everyone in my family. I also love playing with all of my toys. My favorite toys are tennis balls, squeaky toys, tennis balls, crinkle toys, oh and did I say tennis balls!!!</p>
            <br>
            <br>
            <img src="/images/about2.jpg" class="about-imgs">
            <br>
        </div>

        <div id="body2">
            <img src="/images/about1.jpg" class="about-imgs">
            <br>
            <br>
            <p>I'm also really good at keeping dangerous things away from our home. I'll sometimes watch outside a window and wait until I see something suspicious and I scare them away with my ferocious roars! I make sure I'm loud enough so everyone can hear me!!! I guess you're wondering why my website is called 'The Lucky Carrot'. Well, I REALLY love carrots. I love carrots. They're my favorite snack, my favorite toys are carrot shapes, and my favorite foods have carrots in them. <span id="loveCarrots">I loveeeeeeeeeeeeeeeeeee carrots!!</span> I can't get enough of them! Anyway, I hope you love my blog as much as I love blogging. And all of my pictures are available for you to download. Just click the tiny picture of me!
            <a href="/images/luckypictures.zip" download="luckypictures.zip">
                <img src="/images/download.JPG" id="dlimg">
            </a>
            </p>
        
        </div>

        <hr>
    </div>

    

</body>

