<head>
    <link rel="stylesheet" href="/css/about.css" />
</head>

<body>
    <div id="navbar">
        <ul>
<<<<<<< HEAD
            <li><a href="http://www.theluckycarrot.com/" target="_self">Home</a></li>
            <li><a href="http://www.theluckycarrot.com/about" target="_self" class="active">About Me</a></li>
            <li><a href="http://www.theluckycarrot.com/" target="_self">Blog</a></li>
            <li><a href="http://www.theluckycarrot.com/" target="_self">Contact</a></li>
=======
            <li><a href="http://www.localhost:4825/" target="_self">Home</a></li>
            <li><a href="http://www.localhost:4825/about" target="_self" class="active">About Me</a></li>
            <li><a href="http://www.localhost:4825/blog" target="_self">Blog</a></li>
            <li><a href="http://www.localhost:4825/contact" target="_self">Updates</a></li>
>>>>>>> inProgress
        </ul>
    </div>

    <div id="about-body">
        <div class='bone-header'></div>
        <div id="about-header">
            <h1 id="aboutTitle">About Lucky</h1>
        </div>
        <div class="bone-header"></div>

        <div id="body1">
            <p>Welcome! My name is Lucky! I am a three year old pomeranian from New Jersey. I live with the most amaaaaazing family ever. I have three brothers and two sisters (all humans). </p>
            <br>
            <img src="/images/about2.jpg" class="about-imgs">
        </div>

        <div id="body2">
            <img src="/images/about1.jpg" class="about-imgs">
            <br>
            <p>Welcome! My name is Lucky! Puppy kitty ipsum dolor sit good dog foot stick canary. Teeth Mittens grooming vaccine walk swimming nest good boy furry tongue heel furry treats fish. Cage run fast kitten dinnertime ball run foot park fleas throw house train licks stick dinnertime window. Yawn litter fish yawn toy pet gate throw Buddy kitty wag tail ball groom crate ferret heel wet nose Rover toys pet supplies. Bird Food treats tongue lick teeth ferret litter box slobbery litter box crate bird small animals yawn small animals shake slobber gimme five toys polydactyl meow. </p>
        </div>
    </div>

</body>

