<head>
    <link rel="stylesheet" href="/css/blog.css">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>
    <div id="navbar">
        <ul class="nav">
            <li class="navLI"><a href="/" target="_self">Home</a></li>
            <li class="navLI"><a href="/about" target="_self">About Me</a></li>
            <li class="navLI"><a href="/blog" target="_self" class="active">Blog</a></li>
            <li class="navLI"><a href="/updates" target="_self">Updates</a></li>
        </ul>
    </div>

    <div id="blog-main-body">
        <div class="blog-header">
            <h1 class='blog-title'>Blog Title 1</h1>
            <p class="date">November 23 2015</p>
            <hr>
        </div>

        <div class="blog">
            <p class="article-content">Puppy kitty ipsum dolor sit good dog foot stick canary. Teeth Mittens grooming vaccine walk swimming nest good boy furry tongue heel furry treats fish. Cage run fast kitten dinnertime ball run foot park fleas throw house train licks stick dinnertime window. Yawn litter fish yawn toy pet gate throw Buddy kitty wag tail ball groom crate ferret heel wet nose Rover toys pet supplies. Bird Food treats tongue lick teeth ferret litter box slobbery litter box crate bird small animals yawn small animals shake slobber gimme five toys polydactyl meow. </p>
        </div>

        <div class="blog-img">
            <img src="/images/download.JPG" class="article-img">
        </div>

        <br>
        <hr class="outside">
        <br>
        <br>
        <br>

        <div class="blog-header">
            <h1 class='blog-title'>Blog Title 1</h1>
            <p class="date">November 23 2015</p>
            <hr>
        </div>

        <div class="blog">
            <p class="article-content">Puppy kitty ipsum dolor sit good dog foot stick canary. Teeth Mittens grooming vaccine walk swimming nest good boy furry tongue heel furry treats fish. Cage run fast kitten dinnertime ball run foot park fleas throw house train licks stick dinnertime window. Yawn litter fish yawn toy pet gate throw Buddy kitty wag tail ball groom crate ferret heel wet nose Rover toys pet supplies. Bird Food treats tongue lick teeth ferret litter box slobbery litter box crate bird small animals yawn small animals shake slobber gimme five toys polydactyl meow. </p>
        </div>

        <div class="blog-img">
            <img src="/images/download.JPG" class="article-img">
        </div>

        <br>
        <hr class="outside">
        <br>
        <br>
        <br>

        <div class="blog-header">
            <h1 class='blog-title'>Surprise Gifts</h1>
            <p class="date">February 7 2020</p>
            <hr>
        </div>

        <div class="blog">
            <p class="article-content">Today was an amazing day. My parents decided to take me out for a ride and I was so excited! Then we entered into a place and they left me there with strangers. I thought they left me forever but I was just getting a haircut. When we got back I was greeted by a brand new red bed and an awesome new toy! Their unconditional love for me I can’t put into words but I can put it into kisses. </p>
        </div>

        <div class="blog-img">
            <img src="/images/luckytoy.jpg" class="article-img">
        </div>

        <br>
        <hr class="outside">
        <br>
        <br>
        <br>

        <div class="blog-header">
            <h1 class='blog-title'>Christmas Morning</h1>
            <p class="date">November 25 2019</p>
            <hr>
        </div>

        <div class="blog">
            <p class="article-content">It's Christmas today. This wasn't the first Christmas morning that I got to share with my family, but so far it was my favorite. Everyone was home for Christmas this year, so we all got to spend time with each other. I got so many toys and treats for Christmas! The present I'm standing on in the picture wasn't actually for me. It's way too big to be for me! We exchanged our gifts, had breakfast, then all sat together and watched a Christmas movie. Everyone took turns giving me well deserved scratches. Best Christmas Ever!!</p>
        </div>

        <div class="blog-img">
            <img src="/images/christmas.jpg" class="article-img">
        </div>

        <br>
        <hr class="outside">
        <br>
        <br>
        <br>

        <div class="blog-header">
            <h1 class='blog-title'>My Third Birthday</h1>
            <p class="date">July 21 2019</p>
            <hr>
        </div>

        <div class="blog">
            <p class="article-content">Today was my birthday and I got to eat two of my favorite treats: peanut butter and carrot cake! The cake was amazing I all but inhaled the entire thing. My sister made me the cake and everyone gathered around and sang me a happy birthday. It was amazing! They did make me wear this dumb hat, though. Luckily, I managed to shake the hat off and they didn't make me wear it again. The cake wasn't all I got, they gave me a bunch of new toys! A big carrot, a bunch of squirrels, and a dinosaur. I was playing with them for so long. This was the best birthday ever!!</p>
        </div>

        <div class="blog-img">
            <img src="/images/birthday.jpg" class="article-img">
        </div>

        <br>
        <hr class="outside">

    </div>
</body>