<head>

</head>

<body>
    <div id="navbar">
        <ul>
            <li><a href="http://www.localhost:4825/" target="_self">Home</a></li>
            <li><a href="http://www.localhost:4825/about" target="_self">About Me</a></li>
            <li><a href="localhost:4825/blog" target="_self" class="active">Blog</a></li>
            <li><a href="localhost:4825/contact" target="_self">Contact</a></li>
        </ul>
    </div>
</body>