<head>
    <link rel="stylesheet" href="/css/home-styles.css" />
</head>

<body>
    
    <div id="navbar">
        <ul>
            <li><a href="http://www.localhost:4825/" target="_self" class="active">Home</a></li>
            <li><a href="http://www.localhost:4825/about" target="_self">About Me</a></li>
            <li><a href="localhost:4825/kjs" target="_self">Blog</a></li>
            <li><a href="localhost:4825/kjs" target="_self">Contact</a></li>
        </ul>
    </div>

    <div id="home-body">
        <div class="carousel-container">
            <i class="fas fa-arrow-circle-right" id="next"></i>
            <i class="fas fa-arrow-circle-left" id="prev"></i>
            
            <div class="carousel-slide">
                <img src="/images/lucky5.jpg" id="lastClone" alt="">
                <img src="/images/lucky1.jpg" alt="Lucky posing outdoors in a onesie">
                <img src="/images/lucky2.jpg" alt="Lucky laying on the floor">
                <img src="/images/lucky3.jpeg" alt="Lucky sneaking out from under a blanket">
                <img src="/images/lucky4.jpg" alt="">
                <img src="/images/lucky5.jpg" alt="">
                <img src="/images/lucky1.jpg" id="firstClone" alt="">
            </div>
        </div>
        
        <div id='home-content'>
            <h1 id="home-header">Welcome to my blog!</h1>
            <p class="home-para">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam at pretium libero. Curabitur sollicitudin mi at nunc auctor dignissim. Vivamus eu imperdiet orci, ut vehicula lorem. Proin a metus eros. Curabitur ac varius velit, non tincidunt mauris. Donec quis malesuada nisl, ac congue est. Praesent lectus magna, tempus id lacus lacinia, viverra luctus est. Nam non accumsan velit, at consequat mauris. Ut id libero eu nisi vulputate pharetra. Praesent bibendum arcu leo, id congue risus lacinia sed. Fusce eget ullamcorper diam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Vestibulum venenatis egestas leo sed blandit. Nulla consequat ex quis magna ultrices, in scelerisque nulla ullamcorper. In quis velit hendrerit, tincidunt sem nec, pellentesque nibh. Sed lobortis convallis nisl ut ornare.</p>
            <br><p class="home-para">Maecenas sollicitudin eleifend vulputate. Nam ut nisi lacus. Morbi finibus imperdiet orci vitae egestas. Mauris eleifend massa nec nisl pellentesque pharetra. Phasellus bibendum porta leo vel condimentum. Phasellus tellus est, pulvinar vitae justo a, ullamcorper consequat nisl. Donec pretium sit amet lacus porttitor volutpat. Integer eu massa nec tellus efficitur consectetur ut sed mauris. Praesent convallis ex nec nibh tincidunt lacinia. Mauris fermentum urna nec sapien tincidunt, non tincidunt mi maximus.</p>
            <br><p class="home-para">Phasellus lorem nunc, gravida in ante ut, vestibulum tincidunt elit. Nulla tellus nibh, dignissim sit amet accumsan eget, accumsan at tortor. Donec tempus gravida est, at porttitor quam semper in. Proin non ante at quam sodales efficitur. Mauris ornare id quam congue bibendum. Mauris accumsan in quam sit amet congue. Donec efficitur dapibus nibh, non auctor eros varius eget. Morbi in ante a magna tincidunt egestas. Nulla ante lorem, molestie ac condimentum in, finibus quis ex. Nunc dapibus lacinia feugiat. Sed efficitur ultricies magna, vitae molestie lectus semper non. Curabitur a libero scelerisque, imperdiet lectus sit amet, vestibulum sapien.</p>
        </div>
    </div>
    

    <script src="/js/home.js"></script>
</body>