<head>
    <link rel="stylesheet" href="/css/home-styles.css" />
</head>

<body>
    <div id="navbar">
        <ul>
            <li><a href="http://www.theluckycarrot.com/" target="_self" class="active">Home</a></li>
            <li><a href="http://www.theluckycarrot.com/about" target="_self">About Me</a></li>
            <li><a href="http://www.theluckycarrot.com/" target="_self">Blog</a></li>
            <li><a href="http://www.theluckycarrot.com/" target="_self">Contact</a></li>
        </ul>
    </div>

    <div class="carousel-container">
        <i class="fas fa-arrow-circle-right" id="next"></i>
        <i class="fas fa-arrow-circle-left" id="prev"></i>
        
        <div class="carousel-slide">
            <img src="/images/lucky5.jpg" id="lastClone" alt="">
            <img src="/images/lucky1.jpg" alt="Lucky posing outdoors in a onesie">
            <img src="/images/lucky2.jpg" alt="Lucky laying on the floor">
            <img src="/images/lucky3.jpeg" alt="Lucky sneaking out from under a blanket">
            <img src="/images/lucky4.jpg" alt="">
            <img src="/images/lucky5.jpg" alt="">
            <img src="/images/lucky1.jpg" id="firstClone" alt="">
        </div>
    </div>


    <script src="/js/home.js"></script>
</body>