<head>
    <link rel="stylesheet" href="/css/home-styles.css" />
</head>

<body>
    
    <div id="navbar">
        <ul class="nav">
            <li class="navLI"><a href="http://www.localhost:4825/" target="_self" class="active">Home</a></li>
            <li class="navLI"><a href="http://www.localhost:4825/about" target="_self">About Me</a></li>
            <li class="navLI"><a href="http://www.localhost:4825/blog" target="_self">Blog</a></li>
            <li class="navLI"><a href="http://www.localhost:4825/updates" target="_self">Updates</a></li>
        </ul>
    </div>

    <div id="home-body">
        <div class="carousel-container">
            <i class="fas fa-arrow-circle-right" id="next"></i>
            <i class="fas fa-arrow-circle-left" id="prev"></i>
            
            <div class="carousel-slide">
                <img class="carImage" src="/images/lucky5.jpg" id="lastClone" alt="">
                <img class="carImage" src="/images/lucky1.jpg" alt="Lucky posing outdoors in a onesie">
                <img class="carImage" src="/images/lucky2.jpg" alt="Lucky laying on the floor">
                <img class="carImage" src="/images/lucky3.jpeg" alt="Lucky sneaking out from under a blanket">
                <img class="carImage" src="/images/lucky4.jpg" alt="">
                <img class="carImage" src="/images/lucky5.jpg" alt="">
                <img class="carImage" src="/images/lucky1.jpg" id="firstClone" alt="">
            </div>
        </div>
        
        <div id='home-content'>
            
            
            <br>
            <h1 id="home-header">Welcome to the Lucky Carrot !</h1>
            <p class="home-para">Hello all human and furry friends!! Welcome to The Lucky <span class="para-carrot">Carrot</span>! Or, if you're a returning user, then welcome back!!! </p>
            <br>
            <p class="home-para">Are you looking for a new blog to read? Just BORED of all other blogs that post the same old stuff? Maybe you're just a dog-lover? (who isn't!?) Then THIS is the blog for you!!1!1! </p>
            <br>
            <p class="home-para">If you don't feel like reading and you're only interested in pictures right now, you can always follow me on Instagram (linked below). I hope you love it here and keep coming back for more!</p>

            <div class="insta">
                <a href="https://www.instagram.com/luckyluluthepom/" target="_blank"><img src="/images/instagram.png"></a>
                <p><a href="https://www.pinclipart.com/picdir/big/444-4443961_mary-kay-clip-art.png" id="source">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Source</a></p>
            </div>
        </div>
    </div>
    

    <script src="/js/home.js"></script>
</body>