/* ABOUT PAGE STYLING */

#about-body {
	border: 10px solid #333333;
	background-color: white;
	height: 1000px;
	border-top: 0;
}

#about-content {
	border: 20px solid rgb(255, 145, 0);
	margin-top: 20px;
	padding: 20px;
}
